.App {
  text-align: left;
  padding: 10px;
}

.cardInfo {
  background-color: #eee;
}

hr {
  border-top: solid 1px #eee;
}

.pageBtns {
  display: inline;
  margin: 0px 5px 0px 5px;
}

.paymentDiv {
  margin-top: 50px;
}

.payeeDiv {
  width: 25%;
}

.remDiv {
  width: 75%;
}



.pageControls {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
}


