.App {
  text-align: left;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cardInfo {
  background-color: #eee;
}

hr {
  border-top: solid 1px #eee;
}

.pageCtrl {
  height: 30px;
}

.pageBtns {
  display: inline;
  margin: 0px 5px 0px 5px;
}

.paymentCardDiv {
  margin-top: 50px;
  margin-left: 50px;
}

.payeeDiv {
  width: 25%;
}

.remDiv {
  width: 75%;
}

.pageContent {
  flex: 1 0 auto;
  padding: 10px;
}

.pageControls {
  text-align: center;
  flex-shrink: 0;
  padding: 10px
}

.container {
  display: flex;
  flex-direction: row;
}


